body {
    background-color: rgb(247, 211, 211);
    text-align: center;
  }

#plot {
    width: auto;
    display:inline-block;
    border: 1px solid black;
    
}
h1 {
color: rgb(219, 35, 35);
font-size: 70px;
}

#plot2 {
    width: auto;
    display: inline-block;
    border: 1px solid black;

}

.alllabel {
color:rgb(0, 0, 0);
}

.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto ;
    justify-content: space-evenly;
}

#linklink {
    position: relative;
    align-content: center;
    top:13em;
}

#control {
    position: relative;
    top:13em;
    border:1px solid black;
}

#linkedDiv {
    position : relative ;
    top: 13em;
    border:1px solid black;
}